@media only screen and (max-width: 602px) {
    #main { display: none; }
    #main h1 { display: none; }
    aside .copyright { display: inline-block; }
    aside { max-width: 100%; }
    #manifesto-mobile { display: inline-block; padding: 1.25em 1.75em; }
    .logo-holder span { display: inline-block; }

    form input, form textarea {
        width: 100%;
        margin: 8px 0px;
        min-width: 100%;
    }
}

@media only screen and (max-width: 815px) {
    #main { text-align: center; justify-content: center; }
    #main h1 { display: none; }
}