@media only screen and (max-width: 768px) {
    .main-nav a:not(.logo-linker), .hire-me { display: none; }
    #mobile-menu-btn { display: block; }
    
    .intro .hero__right { display: none; }
    .intro .hero__left {
        width: 100%;
        padding-left: 1.75em;
    }

    .worked-with { display: none; }
    .portfolio { padding-top: 1em; }

    .craft-and-calling div, .work-together div { max-width: 100%; }
    .craft-and-calling { padding: 4em 2em; }

    .manifesto { width: 100%; }
}