/* PHONES */
@media only screen and (min-width: 0px) and (max-width: 688px) {
    .hide-small { display: none; }

    main { padding: 0; }
    .main-inner { border-radius: 0px; }
    .hero { text-align: center; }
}

/* TABLETS */
@media only screen and (min-width: 689px) and (max-width: 1024px) {
    .hide-medium { display: none; }
}

/* WIDE SCREENS */
@media only screen and (min-width: 1025px) {
    .hide-big { display: none; }
    .hero { line-height: 100%; }
}