/* SETUP */

html { width: 100vw; height: 100vh; }

body {
    width: 100%; height: 100%;
    font-family: 'HK Grotesk', sans-serif;;
    font-size: 16px;
    color: #000000;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

/* WIP STYLES */

.main-inner.wip {
    background: #ffffff url('../img/filler-layout.png') no-repeat center top;
    background-size: cover;
    border-radius: 0px;
}

p.wip {
    text-align: center;
    color: #000000;
    font-weight: 700;
}

main.wip {
    padding: 0em 1em;
}

/* ELEMENTS */

h1 {
    font-size: 400%; font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 0px; margin-bottom: 0.25em;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 200%;
    margin-top: 0px; padding-bottom: 1em;
}

.more-btn {
    display: flex;
    align-items: center; justify-content: center;
    line-height: 0;
    width: 48px; height: 48px;
    background-color: #000000; color: #ffffff; font-weight: 700;
    border-radius: 100%;
    text-decoration: none;
} .more-btn span { margin-top: -10px; }

.more-btn.mobile {
    position: fixed;
    bottom: 1em; right: 1em;
    z-index: 100;
}

/* COMPONENTS */

.logo {
    width: 52px; height: 52px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.copyright {
    display: inline-block; box-sizing: border-box;
    font-size: 80%;
    font-weight: 400;
    opacity: 0.3;
}


/* TRANSITIONS */

.transition-fade {
    transition: 0.5s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

html.is-animating .logo {  
    animation-name: logoSpin;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes logoSpin {
    0% {
    transform: rotate(0deg)
    }
    50%, 100% {
    transform: rotate(180deg)
    }
}

/* LAYOUT */

body {
    display: flex;
    flex-direction: column;
}

header {
    flex-grow: 0;
    width: 100%;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-content: stretch;
    overflow: hidden;
}

main {
    box-sizing: border-box;
    flex-grow: 1;
    overflow-x: hidden;
    box-sizing: border-box;
}

.main-inner {
    width: 100%; height: 100%;
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    border-radius: 0px 20px 0px 0px;
    display: flex; align-items: center; justify-content: center;
    padding: 2em;
}

.hero { color: #ffffff; line-height: 100%; font-weight: 700;}

aside {
    flex-grow: 0;
    padding: 1em;
    display: flex;
    align-items: flex-end; justify-content: center;
    box-sizing: border-box;
}

.longform-container { width: 100%; max-width: 610px; margin: 0 auto; position: relative; z-index: 2; }

header .portfolio-nav {
    width: 100%;
}

.portfolio-nav a {
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: #000000;
    display: inline-block; box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}

.portfolio-nav:hover :not(a:hover) { opacity: 0.3 }

/* MODAL STYLES */

.modal-window {
    position: fixed;
    background-color: #000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}























/* FORMS */

#contact form {
    margin-top: 2em;
    overflow: hidden;
}

form input, textarea {
    outline: none;
    border: none; border: 2px solid #000000;
    padding: 8px 12px;
    font-size: 1em;
    transition: all 100ms;
    margin-top: 24px;
}

form input[name="name"],
form input[name="email"],
form input[name="company"],
form input[name="subject"] {
    width: 48%;
}

form input[name="name"], form input[name="company"]  { margin-right: 16px; }

form textarea { width: 99.25%; height: 300px; }

form input[type="submit"] {
    background-color: #000000; color: #ffffff;
    font-weight: 600; font-size: 15px;
    text-decoration: none;
    border: 2px solid #000000;
    line-height: 1px;
    padding: 1.25em 1.75em;
    cursor: pointer;
    margin-top: 16px;
}


/* CONTACT CONTENT */

#contact, #contact-success {
    width: 100%; height: 100%;
    box-sizing: border-box;
    border: 2px solid #000000;
    overflow-y: scroll;
    padding: 24px;
    text-align: right;
}

#contact .container {
    line-height: 150%;
    padding-bottom: 10em;
    overflow-y: scroll;
    text-align: left;
}

#contact h2 { margin-top: 100px; margin-bottom: 0.75em; }

/* CONTACT SUCCESS FORM */

#contact-success {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-success div { text-align: center; }

#contact-success div p { padding-bottom: 0em; }


/* UTILITY */
#contact ::-webkit-scrollbar , #manifesto ::-webkit-scrollbar { width: 0 !important; overflow: -moz-scrollbars-none; -ms-overflow-style: none; }

/* BIO STYLES */
.bio {
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    color: #ffffff;
    display: block; box-sizing: border-box;
    text-align: center;
}

.bio header {
    justify-content: center;
    align-items: flex-start;
}

.bio h1 {
    font-size: 300%;
}

#bio-pic {
    border-radius: 100%;
    margin-top: 1em;
}

.bio-link-list {
    margin: 0 auto;
    width: 100%; max-width: 350px;  
}

.bio-link {
    display: flex; align-items: center; justify-content: center;
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    margin: 0.25em auto;
    background-color: #ffffff;
    color: #000000; font-weight: bold; text-decoration: none; font-size: 100%;
    text-align: left;
} .bio-link img { margin-right: 0.75em; }

.bio-social {
    padding: 2em 1em;
    text-align: center;
    width: 100%;
}

.bio-social a {
    display: inline-block;
    border-radius: 100%;
    margin: 0em 0.5em;
    color: #ffffff;
    font-size: 2em;
} .bio-social a img { padding-bottom: 8px; }