/* SETUP */

body {
    width: 100vw; height: 100vh;
    font-family: sans-serif;
    background-color: #f8f5f0; color: #37373f;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

/* ELEMENTS */

.bordered {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #37373f;
}

/* COMPONENTS */

.container { width: 100%; max-width: 610px; margin: 0 auto; position: relative; z-index: 2; }

a {
    text-decoration: none;
    color: #37373f;
    display: inline-block;
    box-sizing: border-box;
    padding-bottom: 5px;
    border-bottom: 1px solid #37373f;
}

a.nav-btn {
    font-size: 1.25em;
    border: none;
}

a.nav-btn#main_downnav {
    position: absolute;
    bottom: 50px; left: 50px;
}

.btn {
    display: inline-block;
    width: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #f8f5f0; color: #37373f;
    font-weight: normal; font-size: 14px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #37373f;
    line-height: 0px;
    padding: 1.5em;
    margin: 0px;
    cursor: pointer;
    font-size: 80%;
    transition: all ease-in 150ms;
}

.btn.rounded {
    border-radius: 5em;
}

.btn.btn__only-icon {
    line-height: 0%;
    padding: 0.25em 0.42em;
    font-size: 30px
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 200%;
    margin-top: 0px;
    font-family: serif;
}

::selection { background-color: #37373f; color: #f8f5f0; }

/* ACTIVE, HOVER STATES */

.btn:hover { background-color: #37373f; color: #f8f5f0; }

/* INDEX STYLES */

#index {
    display: flex; align-items: center; justify-content: center;
    overflow-x: hidden;
    background: #f8f5f0 url("trust_design.svg") no-repeat center center;
    background-size: 1000px;
}

#info-btn, #clossInfo-btn {
    color: #000000;
    position: absolute;
    top: 1em; right: 1em;
    font-size: 1.5em;
    opacity: 0.4;
    transition: all ease-in 150ms;
} #info-btn:hover, #clossInfo-btn:hover { opacity: 1; }

#index h1 {
    font-size: 1.25em;
    letter-spacing: 0.4em;
    position: absolute; top: 250px;
}

#index a.btn { position: absolute; bottom: 200px; }

/* INFO STYLES */

#info {
    display: flex; align-items: center; justify-content: center;
    text-align: center;
}

#info p {
    padding: 2em;
    max-width: 800px;
    line-height: 2em;
}

/* SLIDESHOW STYLES */

.slideshow { 
    width: 100%; height: 90%;   
    border: 10px solid #f8f5f0;
    overflow: hidden;
    background-color: #37373f;
}

.slide {
    width: 100%; height: 100%;
}

.grant .slide.first {
    background: #000000 url(/trust/photos/grant_1.jpg) no-repeat center center;
    background-size: cover;
}

.grant .slide.second {
    background: #000000 url(/trust/photos/grant_2.jpg) no-repeat center center;
}


.mack .slide.first {
    background: #000000 url(/trust/photos/mack_1.jpg) no-repeat center center;
    background-size: contain;
}

.mack .slide.second {
    background: #000000 url(/trust/photos/mack_2.jpg) no-repeat center center;
    background-size: cover;
}

.mack .slide.third {
    background: #000000 url(/trust/photos/mack_3.jpg) no-repeat center center;
    background-size: cover;
}

.mack .slide.fourth {
    background: #000000 url(/trust/photos/mack_4.jpg) no-repeat center center;
    background-size: cover;
}

.mack .slide.fifth {
    background: #000000 url(/trust/photos/mack_5.jpg) no-repeat center center;
    background-size: cover;
}


.jeremiah .slide.first {
    background: #000000 url(/trust/photos/jeremiah_1.jpg) no-repeat center center;
    background-size: cover;
}

.jeremiah .slide.second {
    background: #000000 url(/trust/photos/jeremiah_3.jpg) no-repeat center center;
    background-size: cover;
}

.jeremiah .slide.third {
    background: #000000 url(/trust/photos/jeremiah_3.jpg) no-repeat center center;
    background-size: cover;
}

/* PAGE STYLES */

.page { display: block; width: 100%; height: 100%; }

article {
    margin: 0 auto;
    width: 60%; max-width: 730px;
    padding: 1em; padding-top: 2.5em;
}

article h1, h2 {
    text-transform: uppercase;
    font-style: italic;
    padding-bottom: 0.1em;
}

article h2 {
    font-size: 1em;
    padding-bottom: 1em;
    font-style: normal;
    text-transform: none;
    opacity: 0.5;
}

.profile-pic {
    border-radius: 100%;
    display: inline-block;
}

.page .btn {
    float: right;
    margin: auto 2em 2em auto;
}