@media only screen and (min-width: 950px) {
  #index {
    background-size: contain;
  }
}

@media only screen and (max-width: 949px) {
  article { width: 100%; max-width: 100%; padding: 2em; }
  #index a.btn { position: absolute; bottom: 150px; }
}