@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-Italic.eot');
    src: url('PublicSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('PublicSans-Italic.woff') format('woff'),
        url('PublicSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-Regular.eot');
    src: url('PublicSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('PublicSans-Regular.woff') format('woff'),
        url('PublicSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-SemiBold.eot');
    src: url('PublicSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('PublicSans-SemiBold.woff') format('woff'),
        url('PublicSans-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-SemiBoldItalic.eot');
    src: url('PublicSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PublicSans-SemiBoldItalic.woff') format('woff'),
        url('PublicSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}